# analysis options
system = "system"
initially = "1.25<=x<=1.55 & 2.35<=y<=2.45"
scenario = "zono"
zono.nTaylor = 10;
zono.order = 20;
sampling-time = 0.01

# time-horizon = 7
time-horizon = 7

iter-max = 2
output-variables = "x,y"
output-format = "GEN"
rel-err = 1.0e-12
abs-err = 1.0e-13
output-error = 0.0001


